<p class="content-padded">Acceso a <strong>Pedidos App</strong>, desde aquí podrá realizar los pedidos a los clientes.</p>
<div class="input-group content-padded">
    <div class="input-row">
        <label>E-mail</label>
        <input type="text" placeholder="Ingrese su email" ng-model="Correo">
    </div>
    <div class="input-row">
        <label>Contraseña</label>
        <input type="password" placeholder="Ingrese su contraseña" ng-model="Password">
    </div>
    <button class="btn btn-primary btn-block" type="button" ng-click="ingresar()">
        Ingresar
        <span class="icon icon-right"></span>
    </button>
</div>