{% extends "partials/layout.twig" %}
{% block content %}
    <h1 class="page-header">Inicio</h1>
    <p class="well">
        Bienvenido al <b>Sistema de venta</b>. Desde este apartado usted podrá visualizar un resumen de su negocio actual.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Mantenimiento</div>
                <table class="table table-stripped">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-archive"></i> Productos</td>     
                            <td class="text-right">104</td>           
                        </tr>
                        <tr>
                            <td><i class="fa fa-user"></i> Clientes</td>     
                            <td class="text-right">4</td>           
                        </tr>
                        <tr>
                            <td><i class="fa fa-user"></i> Usuarios</td>     
                            <td class="text-right">4</td>           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Ventas</div>
                <table class="table table-stripped">
                    <tbody>
                        <tr>
                            <td><i class="fa fa-file-text-o"></i> Comprobantes</td>     
                            <td class="text-right">104</td>           
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"></i> Utilidad del Mes</td>
                            <td class="text-right">USD 8,000.00</td>           
                        </tr>
                        <tr>
                            <td><i class="fa fa-money"></i> Utilidad Total</td>
                            <td class="text-right">USD 1'456,100.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <b>Contacto</b>: <a href="http://softcun.co.nf/contacto" target="_blank">softcun/contacto</a>
        </li>
    </ul>
{% endblock %}